<!-- app/views/search/_search_results.html.erb -->
<% photos.each do |photo| %>
  <tr data-event-id="<%= photo.event.id %>">
    <td><img src="<%= photo.thumbnail %>" alt="Thumbnail"></td>
    <td><%= DateTime.parse(photo.date_time).strftime('%Y-%m-%d') %></td>
    <td><%= photo.event.name %></td>
    <td><%= photo.camera_model.camera_make.display_name %></td>
    <td><%= photo.camera_model.display_name %></td>
    <td><%= photo.lens_model.lens_make.display_name %></td>
    <td><%= photo.lens_model.display_name %></td>
  </tr>
<% end %>