<% content_for :head do %>
  <%= stylesheet_link_tag 'events', media: 'all' %>
<% end %>


<div class="container">
  <div class="calendar-container">
    <div class="calendar-heading">
      <time datetime="<%= @month.strftime('%Y-%m') %>" class="calendar-title"><%= t('date.month_names')[@month.month] %> <%= @month.year %></time>

      <nav>
        <%= link_to t('simple_calendar.previous', default: 'Previous'), "#", id: "previous-month", data: { month: @previous_month } %>
        <%= link_to t('simple_calendar.today', default: 'Today'), "#", id: "today", data: { month: @month } %>
        <%= link_to t('simple_calendar.next', default: 'Next'), "#", id: "next-month", data: { month: @next_month } %>
      </nav>
    </div>
    
    <div id="calendar">
      <%= render 'my_calendar', locals: { month: @month } %>
    </div>
  </div>

  <!-- ここにイベント一覧が来ます -->
  <div class="list-container">
    <button type="submit" id="openModal">登録</button>
    <div class="title">クリックした日付</div>
    <!-- ここにulタグの一覧が来ます -->
    <ul>
      <!-- その他のリストアイテム -->
    </ul>
  </div>
</div>

<!-- 地図表示 -->
<div id="map" style="height: 300px; width: 700px;"></div>


<!-- モーダルダイアログ -->
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close-button">×</span>
    <h3>予定の登録</h3>
    <form id="eventForm" action="<%= events_path %>" method="post" enctype="multipart/form-data">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <label for="eventName">イベント名：</label>
        <input type="text" id="eventName" name="event[name]">
      </div>
      <div class="form-group">
        <label for="eventStartDate">開始日時：</label>
        <input type="datetime-local" id="eventStartDate" name="event[start_date]">
      </div>
      <div class="form-group">
        <label for="eventEndDate">終了日時：</label>
        <input type="datetime-local" id="eventEndDate" name="event[end_date]">
      </div>
      <div class="form-group">
        <label for="imageUpload">画像参照：</label>
        <input type="file" id="imageUpload" name="photo[image]">
      </div>
      <button type="submit" id="registerModal">登録</button>
      <button type="button" id="closeModal">閉じる</button>
    </form>
  </div>
</div>


<%= javascript_include_tag "register_event" %>
<%= javascript_include_tag "event_dialog" %>



<script defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&loading=async&callback=initMap">
</script>

<%= javascript_include_tag "calendar" %>
<%= javascript_include_tag "map" %>