<% content_for :head do %>
  <%= stylesheet_link_tag 'dropzone', 'basic', 'list_photos', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render "shared/header" %>

<div class="center-container">
  <div class="container">
    <div class="event_name"><%= @event.name %>(<%= @event.start_date.strftime('%Y/%m/%d') %>ー<%= @event.end_date.strftime('%Y/%m/%d') %>)</div>
    <div id="myDropzone" class="image-container dropzone" data-event-id="<%= @event.id %>" data-dropzone-url="<%= drop_event_list_photos_path(event_id: @event.id) %>">
      <% @photos.each do |photo| %>
        <div class="image-box" data-photo-id="<%= photo.id %>">
          <img src="<%= photo.thumbnail %>">
        </div>
      <% end %>
    </div>
    <div class="operations">
      <button id="map_button" type="button" data-event-id="<%= @event.id %>">マップ</button>
      <button id="info_button" type="button" data-event-id="<%= @event.id %>">詳細</button>
      <button id="reload-ImageContainer" data-reload-url="<%= reload_image_container_event_list_photos_path(event_id: @event.id) %>">再描</button>
      <button id="cancelUpload">アップロード停止</button>
      <button id="delete_button" type="button" data-event-id="<%= @event.id %>">削除</button>
    </div>

    <div id="switch-display">
      <!-- 地図表示 -->
      <div id="map"></div>
      <!-- 選択された写真の詳細表示領域 -->
      <div id="photo">
        <table id="photo-details">
          <tr>
            <td>
              <div class="selected-image-box">
                <img id="selected-photo" src="" alt="Selected photo" class="fit-image">
              </div>
            </td>
            <td>
              <div class="photo-details-mid-spacer"></div>
            </td>
            <td>
              <div class="photo-exif-box">
                <ul id="photo-exif"></ul>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<script defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&loading=async&callback=initMap">
</script>

<%= javascript_include_tag "list_photos" %>
<%= javascript_include_tag "map" %>
<%= javascript_include_tag "dropzone" %>
<script>
  // Dropzoneの設定
  Dropzone.options.myDropzone = {
    acceptedFiles: 'image/jpeg', // JPEGファイルのみ許可
  };
</script>
<%= javascript_include_tag "upload" %>
<%= javascript_include_tag "map_button_for_list_photos" %>
<%= javascript_include_tag "info_button_for_list_photos" %>
<%= javascript_include_tag "delete_button_for_list_photos" %>
